<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= process.env.APP_DESCRIPTION %>" />
    <meta name="keywords" content="<%= process.env.APP_KEYWORDS %>" />
    <% if (process.env.NODE_ENV === 'production') { %>
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '<%= process.env.GTM_ID %>');
    </script>
    <!-- End Google Tag Manager -->
    <% } %>
  </head>
  <body>
    <% if (process.env.NODE_ENV === 'production') { %>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=<%= process.env.GTM_ID %>"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% } %>
    <h1>Webpack starter template...</h1>
    <div id="react"></div>
    <div id="vue"></div>
    <div id="ts"></div>
  </body>
</html>
